.main {
  font-family: sans-serif;
  text-align: left;
}

.code {
  font-family: monospace;
  padding: 0 0.5em 0 0.5em;
  margin: 0 0.5em 0 0.5em;
  border: 1px solid grey;
  border-radius: 3px;
  background: #efefef;
}

.start {
  margin: 1em;
  text-align: center;
}

.start a {
  padding: 0.5em 1em;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: #80c6ff;
  border-radius: 5px;
  display: block;
}

pre {
  padding: 0.5em;
  border: 1px solid grey;
  border-radius: 3px;
  background: #efefef;
}

ol > li {
  margin-bottom: 1em;
}

.info .collapser {
  cursor: pointer;
  padding: 0.2em;
  position: absolute;
  top: 1em;
  right: 1em;
  color: #3700b3;
}

.info .start-test a {
  cursor: pointer;
  width: 100%;
  display: block;
  padding: 0.2em;
  text-decoration: none;
  text-align: center;
  color: #3700b3;
  text-transform: uppercase;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.solution {
  padding: 0.5em;
}
